In [1]:
# pip install pandas
# pip install matplotlib

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np
import pandas as pd
import datetime

In [3]:
## Sources for covid-19 in case we lose them
# https://data.dhsgis.wi.gov/datasets/covid-19-historical-data-table/data?where=%20(GEO%20%3D%20%27County%27%20OR%20GEO%20%3D%20%27State%27)%20
# https://www.dhs.wisconsin.gov/publications/p02677.pdf

## Source for population by county
# https://www.wisconsin-demographics.com/counties_by_population

## Source for area of each county
# https://en.wikipedia.org/wiki/List_of_counties_in_Wisconsin

data = pd.read_csv(r'C:\Users\Peter\Desktop\SIIMHackathon\COVID-19_Historical_Data_Table_3.csv')
data.head()

,OBJECTID,GEOID,GEO,NAME,LoadDttm,NEGATIVE,POSITIVE,HOSP_YES,HOSP_NO,HOSP_UNK,...,DTH_E_NHSP,DTH_E_UNK,POS_HC_Y,POS_HC_N,POS_HC_UNK,DTH_NEW,POS_NEW,NEG_NEW,TEST_NEW,DATE
0,1,55,State,WI,2020/03/15 19:00:00+00,313.0,32,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/03/15 14:00:00+00
1,2,55001,County,Adams,2020/03/15 19:00:00+00,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/03/15 14:00:00+00
2,3,55003,County,Ashland,2020/03/15 19:00:00+00,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/03/15 14:00:00+00
3,4,55005,County,Barron,2020/03/15 19:00:00+00,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/03/15 14:00:00+00
4,5,55007,County,Bayfield,2020/03/15 19:00:00+00,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020/03/15 14:00:00+00

In [4]:
print(data.shape) # 7300 rows
print(data['NAME'].value_counts()) # 72 counties and whole state, so 100 data points

(7300, 104)
Dunn         100
Marquette    100
Waushara     100
Shawano      100
Sauk         100
            ...
Dodge        100
Adams        100
Polk         100
Vernon       100
Milwaukee    100
Name: NAME, Length: 73, dtype: int64

In [5]:
dates = data['LoadDttm'].value_counts().index

dates[0].split()[0]
sorted_dates = [date.split()[0] for date in dates] # why are there times even
sorted_dates = sorted(sorted_dates, key=lambda x: datetime.datetime.strptime(x, '%Y/%m/%d'))

print('First five : ' + str(sorted_dates[0:5])) # all that to find out there's one per day for a hundred days
print('Last five : ' + str(sorted_dates[-5:]))

First five : ['2020/03/15', '2020/03/16', '2020/03/17', '2020/03/18', '2020/03/19']
Last five : ['2020/06/18', '2020/06/19', '2020/06/20', '2020/06/21', '2020/06/22']

In [6]:
data = data[['NAME', 'LoadDttm',  'POSITIVE']]
data.head()

       NAME                LoadDttm  POSITIVE
0        WI  2020/03/15 19:00:00+00        32
1     Adams  2020/03/15 19:00:00+00         0
2   Ashland  2020/03/15 19:00:00+00         0
3    Barron  2020/03/15 19:00:00+00         0
4  Bayfield  2020/03/15 19:00:00+00         0

In [7]:
data2 = pd.read_csv(r'C:\Users\Peter\Desktop\SIIMHackathon\wisconsin_pop_by_county.txt')
print(data2.shape)
data2.head()

(72, 3)

      County  Population  Area(sqmi)
0  Milwaukee      954209      241.40
1       Dane      529843     1197.24
2   Waukesha      398879      549.57
3      Brown      259786      529.71
4     Racine      195398      332.50

In [8]:
data = data.drop(data[data['NAME'] == 'WI'].index)
data['Population'] = 0
data['Area'] = 0

for county in data2['County'].value_counts().index:
    data.loc[data['NAME'] == county, 'Population'] = data2[data2['County'] == county]['Population'].values[0]
    data.loc[data['NAME'] == county, 'Area'] = data2[data2['County'] == county]['Area(sqmi)'].values[0]

# Data is already sorted by date so we probably don't have to mess with it
# Split data by days
data_np = np.array_split(data.to_numpy(), 100)
data_np[0]

array([['Adams', '2020/03/15 19:00:00+00', 0, 20073, 645.65],
       ['Ashland', '2020/03/15 19:00:00+00', 0, 15712, 1045.04],
       ['Barron', '2020/03/15 19:00:00+00', 0, 45252, 862.71],
       ['Bayfield', '2020/03/15 19:00:00+00', 0, 14992, 1477.86],
       ['Brown', '2020/03/15 19:00:00+00', 0, 259786, 529.71],
       ['Buffalo', '2020/03/15 19:00:00+00', 0, 13167, 671.64],
       ['Burnett', '2020/03/15 19:00:00+00', 0, 15258, 821.85],
       ['Calumet', '2020/03/15 19:00:00+00', 0, 49807, 318.24],
       ['Chippewa', '2020/03/15 19:00:00+00', 0, 63635, 1008.37],
       ['Clark', '2020/03/15 19:00:00+00', 0, 34491, 1209.82],
       ['Columbia', '2020/03/15 19:00:00+00', 0, 56954, 765.53],
       ['Crawford', '2020/03/15 19:00:00+00', 0, 16288, 570.66],
       ['Dane', '2020/03/15 19:00:00+00', 6, 529843, 1197.24],
       ['Dodge', '2020/03/15 19:00:00+00', 0, 87776, 875.63],
       ['Door', '2020/03/15 19:00:00+00', 0, 27439, 481.98],
       ['Douglas', '2020/03/15 19:00:00+00', 0, 43402, 1304.14],
       ['Dunn', '2020/03/15 19:00:00+00', 0, 44498, 850.11],
       ['Eau Claire', '2020/03/15 19:00:00+00', 0, 102991, 637.98],
       ['Florence', '2020/03/15 19:00:00+00', 0, 4337, 488.2],
       ['Fond du Lac', '2020/03/15 19:00:00+00', 11, 102315, 719.55],
       ['Forest', '2020/03/15 19:00:00+00', 0, 9018, 1014.07],
       ['Grant', '2020/03/15 19:00:00+00', 0, 51828, 1146.85],
       ['Green', '2020/03/15 19:00:00+00', 0, 36864, 583.96],
       ['Green Lake', '2020/03/15 19:00:00+00', 0, 18757, 349.44],
       ['Iowa', '2020/03/15 19:00:00+00', 0, 23620, 762.58],
       ['Iron', '2020/03/15 19:00:00+00', 0, 5715, 758.17],
       ['Jackson', '2020/03/15 19:00:00+00', 0, 20506, 987.72],
       ['Jefferson', '2020/03/15 19:00:00+00', 0, 84652, 556.47],
       ['Juneau', '2020/03/15 19:00:00+00', 0, 26419, 766.93],
       ['Kenosha', '2020/03/15 19:00:00+00', 0, 168330, 271.99],
       ['Kewaunee', '2020/03/15 19:00:00+00', 0, 20360, 342.52],
       ['La Crosse', '2020/03/15 19:00:00+00', 0, 117850, 451.69],
       ['Lafayette', '2020/03/15 19:00:00+00', 0, 16735, 633.59],
       ['Langlade', '2020/03/15 19:00:00+00', 0, 19164, 870.64],
       ['Lincoln', '2020/03/15 19:00:00+00', 0, 27848, 878.97],
       ['Manitowoc', '2020/03/15 19:00:00+00', 0, 79407, 589.08],
       ['Marathon', '2020/03/15 19:00:00+00', 0, 135264, 1544.98],
       ['Marinette', '2020/03/15 19:00:00+00', 0, 40537, 1399.35],
       ['Marquette', '2020/03/15 19:00:00+00', 0, 15207, 455.6],
       ['Menominee', '2020/03/15 19:00:00+00', 0, 4579, 357.61],
       ['Milwaukee', '2020/03/15 19:00:00+00', 7, 954209, 241.4],
       ['Monroe', '2020/03/15 19:00:00+00', 0, 45502, 900.78],
       ['Oconto', '2020/03/15 19:00:00+00', 0, 37556, 997.99],
       ['Oneida', '2020/03/15 19:00:00+00', 0, 35345, 1112.97],
       ['Outagamie', '2020/03/15 19:00:00+00', 0, 184754, 637.52],
       ['Ozaukee', '2020/03/15 19:00:00+00', 0, 88284, 233.08],
       ['Pepin', '2020/03/15 19:00:00+00', 0, 7262, 231.98],
       ['Pierce', '2020/03/15 19:00:00+00', 1, 41603, 573.75],
       ['Polk', '2020/03/15 19:00:00+00', 0, 43349, 913.96],
       ['Portage', '2020/03/15 19:00:00+00', 0, 70599, 800.68],
       ['Price', '2020/03/15 19:00:00+00', 0, 13490, 1254.38],
       ['Racine', '2020/03/15 19:00:00+00', 1, 195398, 332.5],
       ['Richland', '2020/03/15 19:00:00+00', 0, 17539, 586.15],
       ['Rock', '2020/03/15 19:00:00+00', 0, 161769, 718.14],
       ['Rusk', '2020/03/15 19:00:00+00', 0, 14183, 913.59],
       ['Sauk', '2020/03/15 19:00:00+00', 0, 63596, 830.9],
       ['Sawyer', '2020/03/15 19:00:00+00', 0, 16370, 1257.31],
       ['Shawano', '2020/03/15 19:00:00+00', 0, 41009, 893.06],
       ['Sheboygan', '2020/03/15 19:00:00+00', 3, 115205, 511.27],
       ['St. Croix', '2020/03/15 19:00:00+00', 0, 87917, 722.33],
       ['Taylor', '2020/03/15 19:00:00+00', 0, 20356, 974.88],
       ['Trempealeau', '2020/03/15 19:00:00+00', 0, 29438, 732.97],
       ['Vernon', '2020/03/15 19:00:00+00', 0, 30516, 791.58],
       ['Vilas', '2020/03/15 19:00:00+00', 0, 21593, 856.6],
       ['Walworth', '2020/03/15 19:00:00+00', 0, 103013, 555.13],
       ['Washburn', '2020/03/15 19:00:00+00', 0, 15689, 797.11],
       ['Washington', '2020/03/15 19:00:00+00', 0, 134535, 430.7],
       ['Waukesha', '2020/03/15 19:00:00+00', 3, 398879, 549.57],
       ['Waupaca', '2020/03/15 19:00:00+00', 0, 51444, 747.71],
       ['Waushara', '2020/03/15 19:00:00+00', 0, 24116, 626.15],
       ['Winnebago', '2020/03/15 19:00:00+00', 1, 169926, 434.49],
       ['Wood', '2020/03/15 19:00:00+00', 0, 73274, 793.12]], dtype=object)

In [9]:
# Need list of delta I and population densities

delta_I = [0] * (len(data_np) * len(data_np[0]))
pop_density = [0] * len(data_np[0])

for i in range(len(data_np[0])):
    pop_density[i] = data_np[0][i][3] / data_np[0][i][4]

for i in range(len(data_np) - 1):
    for j in range(len(data_np[0])):
        
        # County orders are not consistent for some reason, so we must suffer
        county = data_np[i][j][0]
        
        for k in range(len(data_np[0])):
            if data_np[i+1][k][0] == county:
                
                # 0s are for var and population density in next cell
                delta_I[(i * len(data_np[0]) + j)] = [county, data_np[i+1][k][2] - data_np[i][j][2], data_np[i+1][k][3],
                                                      data_np[i+1][k][4], 0, 0]
            
        '''if data_np[i+1][j][2] > 0 and data_np[i][j][2] > 0:
            delta_I[(i * len(data_np[0]) + j)] = data_np[i+1][j][2] - data_np[i][j][2]
            
        if delta_I[(i * len(data_np[0]) + j)] == -808:
            print('i : ' + str(i) + ' j : ' + str(j))
            print(data_np[i][j])
            print(data_np[i+1][j])'''

# Taylor did report a decrease in cumulative cases according to the data
delta_I[-144:-72]

[['Iron', 0, 5715, 758.17, 0, 0],
 ['Florence', 0, 4337, 488.2, 0, 0],
 ['Forest', 0, 9018, 1014.07, 0, 0],
 ['Pepin', 0, 7262, 231.98, 0, 0],
 ['Rusk', 0, 14183, 913.59, 0, 0],
 ['Ashland', 0, 15712, 1045.04, 0, 0],
 ['Burnett', 0, 15258, 821.85, 0, 0],
 ['Price', 0, 13490, 1254.38, 0, 0],
 ['Taylor', -1, 20356, 974.88, 0, 0],
 ['Buffalo', 0, 13167, 671.64, 0, 0],
 ['Vilas', 0, 21593, 856.6, 0, 0],
 ['Marquette', 1, 15207, 455.6, 0, 0],
 ['Menominee', 0, 4579, 357.61, 0, 0],
 ['Bayfield', 0, 14992, 1477.86, 0, 0],
 ['Washburn', 0, 15689, 797.11, 0, 0],
 ['Lafayette', 2, 16735, 633.59, 0, 0],
 ['Langlade', 0, 19164, 870.64, 0, 0],
 ['Kewaunee', 0, 20360, 342.52, 0, 0],
 ['Adams', 1, 20073, 645.65, 0, 0],
 ['Richland', 0, 17539, 586.15, 0, 0],
 ['Lincoln', 0, 27848, 878.97, 0, 0],
 ['Green Lake', 0, 18757, 349.44, 0, 0],
 ['Sawyer', 0, 16370, 1257.31, 0, 0],
 ['Clark', 2, 34491, 1209.82, 0, 0],
 ['Iowa', 1, 23620, 762.58, 0, 0],
 ['Douglas', 0, 43402, 1304.14, 0, 0],
 ['Oneida', 0, 35345, 1112.97, 0, 0],
 ['Vernon', 1, 30516, 791.58, 0, 0],
 ['Jackson', 0, 20506, 987.72, 0, 0],
 ['Crawford', 0, 16288, 570.66, 0, 0],
 ['Juneau', 1, 26419, 766.93, 0, 0],
 ['Pierce', 0, 41603, 573.75, 0, 0],
 ['Waushara', 0, 24116, 626.15, 0, 0],
 ['Door', 0, 27439, 481.98, 0, 0],
 ['Green', 0, 36864, 583.96, 0, 0],
 ['Oconto', 3, 37556, 997.99, 0, 0],
 ['Calumet', 0, 49807, 318.24, 0, 0],
 ['Polk', 0, 43349, 913.96, 0, 0],
 ['Trempealeau', 1, 29438, 732.97, 0, 0],
 ['Dunn', 0, 44498, 850.11, 0, 0],
 ['Shawano', 2, 41009, 893.06, 0, 0],
 ['Barron', 0, 45252, 862.71, 0, 0],
 ['Marinette', 0, 40537, 1399.35, 0, 0],
 ['Monroe', 4, 45502, 900.78, 0, 0],
 ['Wood', 1, 73274, 793.12, 0, 0],
 ['Columbia', 1, 56954, 765.53, 0, 0],
 ['Chippewa', 1, 63635, 1008.37, 0, 0],
 ['Waupaca', 0, 51444, 747.71, 0, 0],
 ['Portage', 5, 70599, 800.68, 0, 0],
 ['Grant', 4, 51828, 1146.85, 0, 0],
 ['Manitowoc', 2, 79407, 589.08, 0, 0],
 ['St. Croix', 3, 87917, 722.33, 0, 0],
 ['Jefferson', 4, 84652, 556.47, 0, 0],
 ['Ozaukee', 2, 88284, 233.08, 0, 0],
 ['Sauk', 0, 63596, 830.9, 0, 0],
 ['Marathon', 4, 135264, 1544.98, 0, 0],
 ['Eau Claire', 2, 102991, 637.98, 0, 0],
 ['Walworth', 0, 103013, 555.13, 0, 0],
 ['Sheboygan', 0, 115205, 511.27, 0, 0],
 ['Washington', 1, 134535, 430.7, 0, 0],
 ['Fond du Lac', 5, 102315, 719.55, 0, 0],
 ['Dodge', 3, 87776, 875.63, 0, 0],
 ['La Crosse', 24, 117850, 451.69, 0, 0],
 ['Outagamie', 6, 184754, 637.52, 0, 0],
 ['Rock', 0, 161769, 718.14, 0, 0],
 ['Winnebago', 7, 169926, 434.49, 0, 0],
 ['Kenosha', 5, 168330, 271.99, 0, 0],
 ['Waukesha', 12, 398879, 549.57, 0, 0],
 ['Racine', 9, 195398, 332.5, 0, 0],
 ['Brown', 1, 259786, 529.71, 0, 0],
 ['Dane', 41, 529843, 1197.24, 0, 0],
 ['Milwaukee', 88, 954209, 241.4, 0, 0]]

In [10]:
# Stripped SIR model, var * population_density = dI/dt
# 100*72 data points to estimate var across different population densities

## This can probably be combined with the above one but there's no time

# last row is empty b/c delta I
for i in range(len(delta_I)-72):
    
    # Catch negative cases(?) and throw away 0s, data is daily changes so some counties may have skipped days
    # which messes with the way we're using the data, maybe fix later
    
    if delta_I[i][1] > 0:
        
        # Find matching County
        for j in range(len(data_np[0])):
            
            if delta_I[i][0] == data_np[0][j][0]:
                delta_I[i][4] = data_np[0][j][3] / data_np[0][j][4]
            
        delta_I[i][5] = delta_I[i][1] / delta_I[i][4]
                
delta_I[-144:-72]

[['Iron', 0, 5715, 758.17, 0, 0],
 ['Florence', 0, 4337, 488.2, 0, 0],
 ['Forest', 0, 9018, 1014.07, 0, 0],
 ['Pepin', 0, 7262, 231.98, 0, 0],
 ['Rusk', 0, 14183, 913.59, 0, 0],
 ['Ashland', 0, 15712, 1045.04, 0, 0],
 ['Burnett', 0, 15258, 821.85, 0, 0],
 ['Price', 0, 13490, 1254.38, 0, 0],
 ['Taylor', -1, 20356, 974.88, 0, 0],
 ['Buffalo', 0, 13167, 671.64, 0, 0],
 ['Vilas', 0, 21593, 856.6, 0, 0],
 ['Marquette', 1, 15207, 455.6, 33.377963125548725, 0.029959886894193467],
 ['Menominee', 0, 4579, 357.61, 0, 0],
 ['Bayfield', 0, 14992, 1477.86, 0, 0],
 ['Washburn', 0, 15689, 797.11, 0, 0],
 ['Lafayette', 2, 16735, 633.59, 26.412980002840953, 0.075720346579026],
 ['Langlade', 0, 19164, 870.64, 0, 0],
 ['Kewaunee', 0, 20360, 342.52, 0, 0],
 ['Adams', 1, 20073, 645.65, 31.08959962828158, 0.03216509739451003],
 ['Richland', 0, 17539, 586.15, 0, 0],
 ['Lincoln', 0, 27848, 878.97, 0, 0],
 ['Green Lake', 0, 18757, 349.44, 0, 0],
 ['Sawyer', 0, 16370, 1257.31, 0, 0],
 ['Clark', 2, 34491, 1209.82, 28.50919971566018, 0.07015279348235771],
 ['Iowa', 1, 23620, 762.58, 30.973799470219515, 0.03228535139712109],
 ['Douglas', 0, 43402, 1304.14, 0, 0],
 ['Oneida', 0, 35345, 1112.97, 0, 0],
 ['Vernon', 1, 30516, 791.58, 38.55074660804972, 0.025939834840739286],
 ['Jackson', 0, 20506, 987.72, 0, 0],
 ['Crawford', 0, 16288, 570.66, 0, 0],
 ['Juneau', 1, 26419, 766.93, 34.44773316991121, 0.02902948635451758],
 ['Pierce', 0, 41603, 573.75, 0, 0],
 ['Waushara', 0, 24116, 626.15, 0, 0],
 ['Door', 0, 27439, 481.98, 0, 0],
 ['Green', 0, 36864, 583.96, 0, 0],
 ['Oconto', 3, 37556, 997.99, 37.63163959558713, 0.07972015124081372],
 ['Calumet', 0, 49807, 318.24, 0, 0],
 ['Polk', 0, 43349, 913.96, 0, 0],
 ['Trempealeau', 1, 29438, 732.97, 40.16262602835041, 0.02489877029689517],
 ['Dunn', 0, 44498, 850.11, 0, 0],
 ['Shawano', 2, 41009, 893.06, 45.919647056188836, 0.04355434172986417],
 ['Barron', 0, 45252, 862.71, 0, 0],
 ['Marinette', 0, 40537, 1399.35, 0, 0],
 ['Monroe', 4, 45502, 900.78, 50.51399897866294, 0.07918596984747922],
 ['Wood', 1, 73274, 793.12, 92.38702844462377, 0.010824030351830117],
 ['Columbia', 1, 56954, 765.53, 74.39812940054603, 0.013441198159918531],
 ['Chippewa', 1, 63635, 1008.37, 63.10679611650485, 0.015846153846153847],
 ['Waupaca', 0, 51444, 747.71, 0, 0],
 ['Portage', 5, 70599, 800.68, 88.17380226807214, 0.05670618564002323],
 ['Grant', 4, 51828, 1146.85, 45.19161180625191, 0.08851200123485374],
 ['Manitowoc', 2, 79407, 589.08, 134.79832959869626, 0.014836979107635349],
 ['St. Croix', 3, 87917, 722.33, 121.71306743455207, 0.024648134035510767],
 ['Jefferson', 4, 84652, 556.47, 152.1232052042338, 0.026294476208477063],
 ['Ozaukee', 2, 88284, 233.08, 378.77123734340137, 0.005280231978614472],
 ['Sauk', 0, 63596, 830.9, 0, 0],
 ['Marathon', 4, 135264, 1544.98, 87.55064790482724, 0.04568784007570381],
 ['Eau Claire', 2, 102991, 637.98, 161.43296028088653, 0.012389043702847822],
 ['Walworth', 0, 103013, 555.13, 0, 0],
 ['Sheboygan', 0, 115205, 511.27, 0, 0],
 ['Washington', 1, 134535, 430.7, 312.3635941490597, 0.003201397405879511],
 ['Fond du Lac', 5, 102315, 719.55, 142.19303731498854, 0.03516346576748277],
 ['Dodge', 3, 87776, 875.63, 100.24325342895972, 0.0299272010572366],
 ['La Crosse', 24, 117850, 451.69, 260.90903052978814, 0.09198608400509121],
 ['Outagamie', 6, 184754, 637.52, 289.80110427908147, 0.020703854855645885],
 ['Rock', 0, 161769, 718.14, 0, 0],
 ['Winnebago', 7, 169926, 434.49, 391.0930055927639, 0.017898555841954735],
 ['Kenosha', 5, 168330, 271.99, 618.8830471708518, 0.008079070872690549],
 ['Waukesha', 12, 398879, 549.57, 725.8019906472332, 0.016533434951451445],
 ['Racine', 9, 195398, 332.5, 587.6631578947369, 0.015314895751235938],
 ['Brown', 1, 259786, 529.71, 490.43061297691185, 0.002039024427798265],
 ['Dane', 41, 529843, 1197.24, 442.5537068591093, 0.09264412288168382],
 ['Milwaukee', 88, 954209, 241.4, 3952.8127589063793, 0.02226262799868792]]

In [34]:
# Also can be combined with above loops

county_var_list = {}
for i in range(len(data_np[0])):
    # first value is sum, second is count
    county_var_list[data_np[0][i][0]] = [0, 0]

for i in range(len(delta_I)-72):
    
    if delta_I[i][5] != 0:
        county_var_list[delta_I[i][0]][0] += delta_I[i][5]
        county_var_list[delta_I[i][0]][1] += 1

county_var_list

{'Adams': [0.3538160713396103, 11],
 'Ashland': [0.1995366598778004, 3],
 'Barron': [0.6291308671439937, 19],
 'Bayfield': [0.2957297225186766, 3],
 'Brown': [5.262722048147323, 88],
 'Buffalo': [0.459084073820916, 9],
 'Burnett': [0.21545418796696814, 4],
 'Calumet': [0.5878306262171984, 49],
 'Chippewa': [1.1884615384615385, 47],
 'Clark': [2.209812994694269, 40],
 'Columbia': [0.9543250693542153, 41],
 'Crawford': [1.0861038801571705, 19],
 'Dane': [2.5624008621421814, 97],
 'Dodge': [4.389322821728037, 66],
 'Door': [0.7553168847261196, 24],
 'Douglas': [0.6310064052347821, 19],
 'Dunn': [0.5731336239831004, 23],
 'Eau Claire': [1.0159015836335206, 62],
 'Florence': [0.22513258012451, 2],
 'Fond du Lac': [2.0043175487465175, 76],
 'Forest': [4.160633178088269, 16],
 'Grant': [2.8545120398240322, 55],
 'Green': [1.2672743055555558, 43],
 'Green Lake': [0.4471162765900729, 20],
 'Iowa': [0.7748484335309059, 18],
 'Iron': [0.26532633420822394, 2],
 'Jackson': [1.44502096947235, 22],
 'Jefferson': [1.1898250484335875, 69],
 'Juneau': [0.8708845906355278, 25],
 'Kenosha': [2.2960719420186537, 95],
 'Kewaunee': [0.7738664047151276, 30],
 'La Crosse': [1.0578399660585487, 51],
 'Lafayette': [2.1580298775022406, 33],
 'Langlade': [0.5451721978710081, 8],
 'Lincoln': [0.28406815570238436, 8],
 'Manitowoc': [0.5267127583210551, 38],
 'Marathon': [1.3477912822332625, 50],
 'Marinette': [1.518893850062905, 28],
 'Marquette': [0.32955875583612815, 8],
 'Menominee': [0.3904891897794278, 5],
 'Milwaukee': [2.6178826651184393, 99],
 'Monroe': [1.0294176080172297, 30],
 'Oconto': [1.3286691873468957, 33],
 'Oneida': [0.5353088131277408, 13],
 'Outagamie': [1.3871582753282738, 76],
 'Ozaukee': [0.5517842417652123, 74],
 'Pepin': [0.031944367942715504, 1],
 'Pierce': [0.772300074513857, 32],
 'Polk': [0.8855180050289511, 25],
 'Portage': [1.088758764288446, 29],
 'Price': [0.18597183098591552, 2],
 'Racine': [3.554757469370209, 92],
 'Richland': [0.5012971092992761, 14],
 'Rock': [3.51592010830258, 85],
 'Rusk': [0.7085588380455476, 8],
 'Sauk': [1.2803981382476888, 52],
 'Sawyer': [0.6912516799022602, 7],
 'Shawano': [1.524401960545247, 41],
 'Sheboygan': [0.816576363873096, 63],
 'St. Croix': [1.0763018528839696, 55],
 'Taylor': [0.43102377677343295, 7],
 'Trempealeau': [2.290686867314356, 37],
 'Vernon': [0.7781950452221785, 24],
 'Vilas': [0.3967026351132311, 9],
 'Walworth': [2.7052436100298016, 75],
 'Washburn': [0.20322773918031742, 4],
 'Washington': [1.0308499646932023, 88],
 'Waukesha': [1.3943196809057388, 97],
 'Waupaca': [1.3226345152009948, 42],
 'Waushara': [0.5971740753027036, 14],
 'Winnebago': [1.5546174217012114, 77],
 'Wood': [0.3571930016103938, 23]}

In [36]:
for key, value in county_var_list.items():
    value.append(value[0] / value[1])

[0.3538160713396103, 11, 0.032165097394510025]
[0.1995366598778004, 3, 0.0665122199592668]
[0.6291308671439937, 19, 0.03311215090231546]
[0.2957297225186766, 3, 0.09857657417289219]
[5.262722048147323, 88, 0.05980365963803776]
[0.459084073820916, 9, 0.05100934153565733]
[0.21545418796696814, 4, 0.053863546991742034]
[0.5878306262171984, 49, 0.011996543392187722]
[1.1884615384615385, 47, 0.025286415711947625]
[2.209812994694269, 40, 0.05524532486735673]
[0.9543250693542153, 41, 0.02327622120376135]
[1.0861038801571705, 19, 0.05716336211353529]
[2.5624008621421814, 97, 0.02641650373342455]
[4.389322821728037, 66, 0.06650489123830358]
[0.7553168847261196, 24, 0.03147153686358831]
[0.6310064052347821, 19, 0.033210863433409586]
[0.5731336239831004, 23, 0.02491885321665654]
[1.0159015836335206, 62, 0.01638550941344388]
[0.22513258012451, 2, 0.112566290062255]
[2.0043175487465175, 76, 0.026372599325612072]
[4.160633178088269, 16, 0.26003957363051683]
[2.8545120398240322, 55, 0.05190021890589149]
[1.2672743055555558, 43, 0.02947149547803618]
[0.4471162765900729, 20, 0.022355813829503645]
[0.7748484335309059, 18, 0.04304713519616144]
[0.26532633420822394, 2, 0.13266316710411197]
[1.44502096947235, 22, 0.06568277133965227]
[1.1898250484335875, 69, 0.017243841281646195]
[0.8708845906355278, 25, 0.034835383625421115]
[2.2960719420186537, 95, 0.02416917833703846]
[0.7738664047151276, 30, 0.025795546823837587]
[1.0578399660585487, 51, 0.02074196011879507]
[2.1580298775022406, 33, 0.06539484477279517]
[0.5451721978710081, 8, 0.06814652473387602]
[0.28406815570238436, 8, 0.035508519462798045]
[0.5267127583210551, 38, 0.013860862061080398]
[1.3477912822332625, 50, 0.02695582564466525]
[1.518893850062905, 28, 0.05424620893081804]
[0.32955875583612815, 8, 0.04119484447951602]
[0.3904891897794278, 5, 0.07809783795588557]
[2.6178826651184393, 99, 0.0264432592436206]
[1.0294176080172297, 30, 0.03431392026724099]
[1.3286691873468957, 33, 0.04026270264687563]
[0.5353088131277408, 13, 0.04117760100982622]
[1.3871582753282738, 76, 0.018252082570108866]
[0.5517842417652123, 74, 0.007456543807638005]
[0.031944367942715504, 1, 0.031944367942715504]
[0.772300074513857, 32, 0.02413437732855803]
[0.8855180050289511, 25, 0.035420720201158044]
[1.088758764288446, 29, 0.03754340566511883]
[0.18597183098591552, 2, 0.09298591549295776]
[3.554757469370209, 92, 0.038638668145328355]
[0.5012971092992761, 14, 0.03580693637851972]
[3.51592010830258, 85, 0.04136376598003035]
[0.7085588380455476, 8, 0.08856985475569346]
[1.2803981382476888, 52, 0.024623041120147862]
[0.6912516799022602, 7, 0.09875023998603717]
[1.524401960545247, 41, 0.0371805356230548]
[0.816576363873096, 63, 0.012961529585287238]
[1.0763018528839696, 55, 0.019569124597890356]
[0.43102377677343295, 7, 0.061574825253347565]
[2.290686867314356, 37, 0.06191045587336097]
[0.7781950452221785, 24, 0.032424793550924105]
[0.3967026351132311, 9, 0.04407807056813679]
[2.7052436100298016, 75, 0.036069914800397354]
[0.20322773918031742, 4, 0.050806934795079355]
[1.0308499646932023, 88, 0.011714204144240936]
[1.3943196809057388, 97, 0.014374429700059163]
[1.3226345152009948, 42, 0.031491297980976066]
[0.5971740753027036, 14, 0.04265529109305026]
[1.5546174217012114, 77, 0.020189836645470277]
[0.3571930016103938, 23, 0.015530130504799731]

In [42]:
# dI/dt = x * population_density
# dI/dt = x * (pop / area)
# delta(dI/dt) = x * (pop1 - pop2 / area) - trying to find change in dI/dt as a result of one person vaccinated

deltadelta_dict = {}

for key, value in county_var_list.items():
    
    for i in range(len(data_np[0])):
        if data_np[0][i][0] == key:
            population = data_np[0][i][2]
            area = data_np[0][i][3]
        
    deltadelta_I = value[2] * ((population - (population-1)) / area)
    
    deltadelta_dict[key] = deltadelta_I
    
# These are really small but they are also per day, so we need average infectious period to multiply

# units are change in infected per 1 person vaccinated per square mile per day
deltadelta_dict

{'Adams': 0.032165097394510025,
 'Ashland': 0.0665122199592668,
 'Barron': 0.03311215090231546,
 'Bayfield': 0.09857657417289219,
 'Brown': 0.05980365963803776,
 'Buffalo': 0.05100934153565733,
 'Burnett': 0.053863546991742034,
 'Calumet': 0.011996543392187722,
 'Chippewa': 0.025286415711947625,
 'Clark': 0.05524532486735673,
 'Columbia': 0.02327622120376135,
 'Crawford': 0.05716336211353529,
 'Dane': 0.02641650373342455,
 'Dodge': 0.06650489123830358,
 'Door': 0.03147153686358831,
 'Douglas': 0.033210863433409586,
 'Dunn': 0.02491885321665654,
 'Eau Claire': 0.01638550941344388,
 'Florence': 0.112566290062255,
 'Fond du Lac': 0.026372599325612072,
 'Forest': 0.26003957363051683,
 'Grant': 0.05190021890589149,
 'Green': 0.02947149547803618,
 'Green Lake': 0.022355813829503645,
 'Iowa': 0.04304713519616144,
 'Iron': 0.13266316710411197,
 'Jackson': 0.06568277133965227,
 'Jefferson': 0.017243841281646195,
 'Juneau': 0.034835383625421115,
 'Kenosha': 0.02416917833703846,
 'Kewaunee': 0.025795546823837587,
 'La Crosse': 0.02074196011879507,
 'Lafayette': 0.06539484477279517,
 'Langlade': 0.06814652473387602,
 'Lincoln': 0.035508519462798045,
 'Manitowoc': 0.013860862061080398,
 'Marathon': 0.02695582564466525,
 'Marinette': 0.05424620893081804,
 'Marquette': 0.04119484447951602,
 'Menominee': 0.07809783795588557,
 'Milwaukee': 0.0264432592436206,
 'Monroe': 0.03431392026724099,
 'Oconto': 0.04026270264687563,
 'Oneida': 0.04117760100982622,
 'Outagamie': 0.018252082570108866,
 'Ozaukee': 0.007456543807638005,
 'Pepin': 0.031944367942715504,
 'Pierce': 0.02413437732855803,
 'Polk': 0.035420720201158044,
 'Portage': 0.03754340566511883,
 'Price': 0.09298591549295776,
 'Racine': 0.038638668145328355,
 'Richland': 0.03580693637851972,
 'Rock': 0.04136376598003035,
 'Rusk': 0.08856985475569346,
 'Sauk': 0.024623041120147862,
 'Sawyer': 0.09875023998603717,
 'Shawano': 0.0371805356230548,
 'Sheboygan': 0.012961529585287238,
 'St. Croix': 0.019569124597890356,
 'Taylor': 0.061574825253347565,
 'Trempealeau': 0.06191045587336097,
 'Vernon': 0.032424793550924105,
 'Vilas': 0.04407807056813679,
 'Walworth': 0.036069914800397354,
 'Washburn': 0.050806934795079355,
 'Washington': 0.011714204144240936,
 'Waukesha': 0.014374429700059163,
 'Waupaca': 0.031491297980976066,
 'Waushara': 0.04265529109305026,
 'Winnebago': 0.020189836645470277,
 'Wood': 0.015530130504799731}

In [41]:
deltadelta_dict['Adams']

1.602406087506104e-06